name: automl_classification_job
display_name: AutoML Classification Job
description: submit an automl job to train classification model
version: 1
type: command

inputs:
  step_connection:
    type: uri_folder
  mltable_name:
    type: string
  experiment_name:
    type: string
  compute_name:
    type: string
  primary_metric:
    type: string
  max_trials:
    type: string
outputs:
  best_model:
    type: uri_folder
code: ../src
command: >-
  python -m model_train.train_model
  --step_connection {% raw %}${{inputs.step_connection}}{% endraw %}
  --mltable_name {% raw %}${{inputs.mltable_name}}{% endraw %}
  --experiment_name {% raw %}${{inputs.experiment_name}}{% endraw %}
  --compute_name {% raw %}${{inputs.compute_name}}{% endraw %}
  --primary_metric {% raw %}${{inputs.primary_metric}}{% endraw %}
  --max_trials {% raw %}${{inputs.max_trials}}{% endraw %}
  --best_model {% raw %}${{outputs.best_model}}{% endraw %}
environment: azureml:ml-pipeline-env@latest