name: model_validator
display_name: Model validation component
description: Creates Validation report for the new trained models
version: 1
type: command

inputs:
  
  best_child_run_id:
    type: string
  validation_data_asset:
    type: string
    optional: true
    default: ""
  validation_start_date:
    type: string
    optional: true
    default: ""
  validation_end_date:
    type: string
    optional: true
    default: ""
  compute_name:
    type: string

code: ../src
command: >-
  python -m model_validation.validation
  --best_child_run_id {% raw %}${{inputs.best_child_run_id}}
  $[[--validation_data_asset {% raw %}${{inputs.validation_data_asset}}{% endraw %}]]
  $[[--validation_start_date {% raw %}${{inputs.validation_start_date}}{% endraw %}]]
  $[[--validation_end_date {% raw %}${{inputs.validation_end_date}}{% endraw %}]]
  --compute_name {% raw %}${{inputs.compute_name}}
environment: azureml:ml-pipeline-env@latest