name: preprocessing_component
display_name: Data Preprocessing component
description: Preprocess the training and validation data into required format.
version: 1
type: command

inputs:
  mltable_name:
    type: string
  training_start_date:
    type: string
  training_end_date:
    type: string
  validation_start_date:
    type: string
  validation_end_date:
    type: string
outputs:
  step_connection:
    type: uri_folder

code: ../src
command: >-
  python -m model_train.data_preprocess
  --mltable_name {% raw %}${{inputs.mltable_name}}{% endraw %}
  --training_start_date {% raw %}${{inputs.training_start_date}}{% endraw %}
  --training_end_date {% raw %}${{inputs.training_end_date}}{% endraw %}
  --validation_start_date {% raw %}${{inputs.validation_start_date}}{% endraw %}
  --validation_end_date {% raw %}${{inputs.validation_end_date}}{% endraw %}
  --step_connection {% raw %}${{outputs.step_connection}}{% endraw %}

environment: azureml:ml-pipeline-env@latest